{
  "parser": "typescript",
  "printWidth": 100,
  "trailingComma": "all",
  "bracketSpacing": true,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
