name: PR Checks
on: pull_request

env:
  NODE_VER: 20.11.1
  PNPM_VERSION: 8.15.4

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: pnpm/action-setup@v2
      with:
        version: ${{ env.PNPM_VERSION }}

    - uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VER }}
        cache: 'pnpm'

    - run: pnpm install --frozen-lockfile
    - run: pnpm lint
    - run: pnpm test
